<tr valign="top">
  <% @search.fields.each do |field| %>
    <td>
      <% if field == 'time' %>
        <%= (transaction.respond_to?(:completed_at) ? transaction.completed_at : transaction.created_at).localtime.strftime('%Y-%m-%d %H:%M') %>
      <% else %>
        <% field_def = controller.c_fields[field.to_sym] %>
        <%= field_def[:attr_method] ? field_def[:attr_method].call(transaction) : transaction.send(field) %>
      <% end %>
    </td>
  <% end %>
  <td><%= link_to t(:show), transaction %></td>
</tr>
