<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<%= stylesheet_link_tag 'application' %>
<body>
<style type="text/css">
  @media print {
    #print_link {
      display: none
    }
  }
</style>
<div class="container">
  <div id="print_link" class="pull-right">
    <%= link_to '<i class="btn btn-primary glyphicon glyphicon-print"> Print</i>'.html_safe, '#', onclick: 'window.print();' %>
  </div>
  <%= yield %>
</div>
</body>
</html>
